// adding varible and stuff
@import 'varibles';
// defualt that we want for simply
* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body {
    font-family:Arial, Helvetica, sans-serif;
}
a {
    text-decoration:none;
    color:#000;
}
ul {
    list-style:none;
}

// HEADER
header {
    background-image: url("/dist/images/top_background.jpg");
    background-size: cover;
    height: 30rem;
    // several-nav 
    .several-nav {
        display:flex;
        justify-content: $sp-bt;
        padding:1rem 1rem;
    }
    // brand 
    .brand {
        color:white;
    }
    // humberger
    .humberger {
        div {
            transition: .3s;
        }
        position: relative;
        top: 1rem;
        cursor:pointer;
        height: .9375rem;
        .humberger-line-1 {
            width: 2rem;
            height: 0.0625rem;
            background:#fff;
            border:1px solid #fff;
            margin-bottom: .2rem;
        }
        .humberger-line-2 {
            width: 2rem;
            height: 0.0625rem;
            background:#fff;
            border:0.0625rem solid #fff;
            margin-bottom: .2rem;
        }
        .humberger-line-3 {
            width: 2rem;
            height: 0.0625rem;
            background:#fff;
            border:0.0625rem solid #fff;
        }
    }
    // middle header
    .middle-header {
        text-align:$cen;
        line-height: 2;
        margin:4rem 0;

        // h1 
        h1 {
            font-size: 3.125em;
        }
        // button
        button {
            width: 12rem;
            height: 4rem;
            border-radius: 1.562rem;
            outline: none;
            border:0.0625rem solid #000;
            background:none;
            position: relative;
            top: 1.875rem;
            cursor:pointer;

            // hover
            &:hover {
                background:#fff;
                color:#ff0000;
                border:none;
                transition: .3s;
            }
        }
    }
    // nav
    nav {
        width: 0%;
        transition:.3s;
        height: 100%;
        position:absolute;
        background:#000;
        visibility: hidden;
        ul {
            padding: 1rem;
            visibility: hidden;
            li {
                color:#fff;
                font-family:$arial;
                margin-top: 2rem !important;;
                margin: 3rem 0;
                cursor:pointer;
                &:first-child {
                    width: 12%;
                }
                &:nth-child(2) {
                    width: 8%;
                }
                &:nth-child(3) {
                    width: 13%;
                }
                &:nth-child(4) {
                    width: 10%;
                }
                &:last-child {
                    width: auto;
                }
            }
        }
    }
    // nav visibily insterad if and else in javascript
    .show {
        width: 35%;
        position: fixed;
        visibility: visible;
        transition:width .3s;
        z-index: 10;
        ul {
            visibility: visible;
        }
    }
    // humberger and nav combine with another class
    .combine-nav-humberger {
        div {
            transition:.3s;
            &:nth-child(2){
                display: none;
            }
            &:first-child {
                transform:rotate(45deg);
                position:relative;
                top: .3125rem;
            }
            &:last-child {
                transform:rotate(-45deg);
            }
        }

    }
}
// MAIN
main {
    .first_main {
        display:flex;
        justify-content: $cen;
        margin-top: 2rem;
        .img {
            width: 40%;
            img {
                width: 100%;
                height: 90%;
            }
        }
        .description {
            padding-top: 5rem;
            padding-left: 2rem;
            padding-right: 2rem;
            width: 50%;
            font-family:$arial;
            line-height: 2;
            h1 {
                margin-bottom:2rem;
            }
            p {
                color:#808080;
                &:nth-child(3){
                    margin-top: 3rem;
                    
                }
            }

            .video_player {
                display: flex;
                span {
                    color:#3adbff;
                    position: relative;
                    top: 3.125rem;
                    cursor:pointer;
                }
                p {
                    position: relative;
                    top: 2.9375rem;
                    left: .625rem;
                    color:#3adbff;
                }
            }
        }
    }
    // some text 
    .some_text {
        margin-top:2rem;
        font-family: $arial;
        text-align:$cen;
        
        // p 
        p {
        width: 50%;
        display:block;
        margin-top: 2rem !important;
        margin: 0 auto;
        font-size: 1.125em;
        color:#808080;
        }
    }
    // features_1
    .features_1 {
        margin-top: 5rem;
        display:flex;
        justify-content: $cen;
        text-align:$cen;
        font-family:$arial;
        div {
            img {
                width: 5rem ;
            }
            p{
                margin-top: 1rem !important;
                font-size: 1.125em;
            }
            p:last-child {
                width: 50%;
                display: block;
                margin-top: 1rem !important;
                margin: 0 auto;

            }
        }
    }
    .features_2 {
        @extend .features_1;
    }
    // some text 2
    .some_text_2 {
        text-align:$cen;
        font-family:$arial;
        margin-top: 5rem;

        h1 {
            font-size: 3.125em;
        }
        p{
            font-size: 1.25em;
            width: 60%;
            display:block;
            margin-top: 1rem !important;
            margin:0 auto;
            color:#808080;
        }
    }

    // center main
    .img-slider {
        margin-top: 5rem;
        background: rgb(255,255,255);
        background: linear-gradient(157deg, rgba(255,255,255,1) 36%, rgba(108,40,255,1) 36%, rgba(108,40,255,1) 56%);
        padding-bottom: 5rem;
        // carousel
        .carousel {
            width: 50%;
            margin: auto;
        }
        // some text 3
        .some_text_3 {
            margin-top: 8rem;
            text-align:$cen;
            h1{
                font-size:3.75em;
            }
            p{
                margin-top: 2rem !important;
                width: 50%;
                font-size: 1.125em;
                color:#fff;
                margin: auto;
            }
        }
        // image slider down part
        .image-slider-last-part {
            display: flex;
            justify-content: space-around;
            margin-top: 10rem;
            .one {
                width: 20rem;
                background: #fff;
                border-radius: 1.5625rem;
                padding: 1rem;
                line-height: 2;
                p {
                    position: relative;
                    left: .9375em;
                }
                p:nth-child(2) {
                    color:#808080;
                }
                p:nth-child(3) {
                    font-size: 1.25em;
                    width: 50%;
                }
                img {
                    width:90%;
                    display:block;
                    margin: auto;
                }
                
            }
            .two , .three {
                @extend .one;
            }
        }
    }
    // customer
    .customer {
        margin-top: 2rem;
        .text {
            h1 {
                text-align: $cen;
                font-size: 3.125em;
                font-family: $arial;
            }
        }

        .customers {
            display:flex;
            justify-content: space-around;
            margin: 3rem 0;
            .customer_1 {
                width: 18.75rem;

                img {
                    width: 5.625rem;
                    border-radius: 3.125em;
                }

                p {
                    font-size: 1.125em;
                    margin: 1rem 0;;

                    &:last-child {
                        color:#808080;
                        font-style: italic;
                    }
                }
            }
            .customer_2,.customer_3 {
                @extend .customer_1;
            }
        }
    }
    // some text
    .some_text_4 {
        margin-top: 5rem;
        font-family: $arial;
        h2 {
            text-align:$cen;
        }
        p {
            width:50%;
            text-align: $cen;
            margin: 1rem auto;
        }
    }
    // destination star
    .destination-star {
        display:flex;
        justify-content: space-around;
        margin:5rem 0;
        .destination_1 {

            img {
                width: 12.5rem;
            }
        }
        .destination_2,.destination_3,.destination_4 {
            @extend .destination_1;
        }
    }
}
// footer
footer {
    background: #1a1a1a;
    font-family: $arial;
    .main-footer {
        display:flex;
        justify-content : space-around;
        padding:4rem 0;
        .links {
            h2 {
                color:#fff;

            }
            ul {
                padding:0 1rem;
                li {
                    color:#808080;
                    line-height: 2.5;
                }
            }
        }
        .support,.contact ,.subscribe{
            @extend .links;
        }
        .subscribe {
            margin-top: 3rem;
        }
    
        .contact {
            span {
                color:#808080;

                &:nth-child(2) {
                    font-style: italic;
                    color:#fff;
                }

                &:nth-child(7){
                    color:#fff;
                }

                &:nth-child(12){
                    color:#fff;
                }
            }
        }
        .subscribe {
            p {
                color:#808080;
            }
            input {
                border:none;
                outline:none;
                border-bottom:1px solid #808080;
                background:none;
                color:#fff;
                font-size: .875em;
                padding-bottom: .2rem;
                &::placeholder {
                    font-size: .9375em;
                    font-style: italic;
                }
            }
        }
    }
}
// =================================
@media screen and (max-width:991px){
    nav {
        ul {
            li {
                &:last-child {
                    width: auto !important;
                }
            }
        }
    }
    // firs main
    .first_main {
        .img {
            width: 40% !important;
            transition: width .3s !important;
            padding-top: 3rem;
            img {
                width: 100% !important;
                height: 80% !important;
            }
        }
        .description {
            line-height: 2 !important;
            width:40% !important;
            padding-top: 0 !important;
            transition: width .3s !important;
            h1 {
                font-size: 1.25em !important;
            }
            p {
                font-size: .75em !important;
            }
        }
    }
    // some text
    .some_text {
        margin-top: 0 !important;
        h1 {
            transition: .3s;
            font-size: 1.4375em;
        }
        p{
            font-size: .9375em !important;
            transition: .3s;
        }
    }
    // features
    .features_1 {
        div {
            img {
                width: 3.5rem !important;
                transition: .3s;
            }
            p {
                font-size: .875em !important;
                transition: .3s;
            }
        }
    }
    .img-slider {
        background: rgb(255,255,255);
        background: linear-gradient(157deg, rgba(255,255,255,1) 30%, rgba(108,40,255,1) 30%, rgba(108,40,255,1) 56%) !important;
        transition:.3s;
        .carousel {
            width: 70% !important; 
            transition:width .3s;
        }

        .some_text_3 {
            h1 {
                font-size: 3.125em !important;
                transition:.3s;
            }
        }

        .image-slider-last-part {
            .one,.two,.three {
                width: 15.625em !important;
                transition:.3s;
                p:nth-child(3) {
                    width: 100% !important;
                    font-size:1.125em !important;
                    transition:.3s;
                }
            }
        }
    }
    // customers 
    .customer {
        .customers {
            .customer_1,.customer_2,.customer_3 {
                width: 12.5rem !important;
                transition:width .3s;   
                img {
                    width: 4.375rem !important;
                    transition:.3s;
                }
                p {
                    font-size: .9375em !important;
                }
            }
        }
    }
    // destination star
    .destination-star {
        .destination_1,.destination_2,.destination_3,.destination_4 {
            img {
                width: 9.375rem !important;
                transition:.3s;
            }
        }
    }

    // footer
    footer {
        .main-footer {
            .links {
                h2 {
                    font-size: 1.375em !important;
                    transition:.3s;
                }

                ul {
                    li {
                        font-size: .9375em;
                        transition:.3s;
                    }
                }
            }
            .contact {
                span {
                    font-size: .75em;
                    transition:.3s;
                }
            }

            .subscribe {
                p {
                    font-size: .9375em;
                    transition:.3s;
                }
            }
        }
    }
}
// =======================================
@media screen and (max-width:767px){
    // nav
    nav {
        ul {
            li {
                &:last-child {
                    width: auto !important;
                }
            }
        }
    }
    .middle-header {
        // h1
        h1 {
            transition: .3s;
            font-size: 2.1875em !important;
        }
    }
    // firs main
    .first_main {
        flex-direction: $col;;
        align-items:$cen;
        
        .img {
            width: 100% !important;
            transition:width .3s !important;
            img {
                width: 60% !important;
                display: block;
                margin:0 auto;
            }
        }

        .description {
            width: 100% !important;
            transition:width .3s !important;
            h1 {
                text-align: $cen;
            }
            p {
                text-align: $cen;

                &:nth-child(3) {
                    margin-top: 2rem !important;
                }
            }

            .video_player {
                justify-content: $cen;
                span {
                    top:1.5625rem !important;
                }
                p {
                    top: 1.5625rem !important;
                }
            }
        }
    }
    // some text
    .some_text {
        margin-top: 4rem !important;
        transition: .3s;
        p {
            transition: .3s;
            font-size: 1em !important;
        }
    }
    // features
    .features_1 {
        flex-wrap: wrap;
        margin-top: 0 !important;
        div {
            margin-top: 3rem;
            img {
                width: 5rem !important;
                transition: .3s;
            }

            p {
                font-size: 1.125em !important;
                transition: .3s;
            }
        }
    }
    // image slider 
    .img-slider {
        background: rgb(255,255,255);
        background: linear-gradient(157deg, rgba(255,255,255,1) 10%, rgba(108,40,255,1) 10%, rgba(108,40,255,1) 56%) !important;

        .some_text_3 {
            h1 {
                font-size: 2.1875em !important;
                transition:.3s;
            }
        }

        .image-slider-last-part {
            display: block !important;
            margin: 2rem !important;
            transition:.3s;
            .one,.tow,.three {
                width: 80% !important;
                margin:2rem auto !important;
                transition:.3s;

                p:nth-child(3){
                    font-size:.9372em !important;
                    transition:.3s;
                }
                p:nth-child(4){
                    font: size 0.9375em !important;
                    transition:.3s;
                }
            }
        }
    }
    // customers
    .customer {
        .text {
            h1 {
                font-size: 2.1875em !important;
                transition:.3s;
            }
        }
        .customers {
            flex-direction: $col;
            align-items: $cen;
            transition: .3s;
            .customer_1,.customer_2,.customer_3 {
                width: 50% !important;
                transition: .3s;
                margin:1rem 0 !important;
            }
        }
    }
    // destination star
    .destination-star {
        flex-direction: $col;
        align-items:$cen;
        transition:.3s;
        .destination_1,.destination_2,.destination_3,.destination_4 {
            img {
                width: 18.75rem !important;
                transition:.3s;
            }
            margin:2rem 0;
            transition: .3s;
        }
    }

    // footer
    footer {
        .main-footer {
            display: block;
            transition:.3s;

            .first_fot ,.seccond_fot{
                display:flex;
                justify-content: space-around;
                margin-top: 1rem;
                transition:.3s;

                .support {
                    width: 12.5rem;
                    transition:.3s;
                }
            }
        }
    }
}
// ======================================
@media screen and (max-width:585px){
    // nav
    nav {
        ul {
            padding: 1rem 0.7rem !important;
            li {
                font-size: .75em;
                &:last-child {
                    width: auto !important;
                }
            }
        }
    }
    //header
    header {
        transition:.3s;
        height: 20rem !important;
    }
    // several nav
    .several-nav {
        padding:1rem !important;
    }
    // brand
    .brand {
        transition: .3s;
        font-size: .625em;
    }
    // humberger
    .humberger {
        position: relative;
        top:.5rem !important;
        transition: .3s;
    }

    // .middle-header
    .middle-header {
        // p 
        p {
            transition:.3s;
            font-size:.75em ;
        }
        // button
        button {
            transition:.3s;
            width: 10rem !important;
            height: 2rem !important;
        }
    }
    .first_main {
        margin-top: 0 !important;
        .img {
            padding-top: 1rem !important;
        }
        .description {
            p {
                font-size: .75em !important;
            }
        }
    }
    // some text
    .some_text {
        h1 {
            font-size: 1.125em !important;
            transition:.3s;
        }
        p {
            font-size: .75em !important;
            line-height:2;
            width: 100% !important;
        }

    }

    // featrues
    .features_1 {
        div {
            img {
                width: 3rem !important;
                transition: .3s;
            }
            p {
                font-size: .9375em !important;
            }
        }
    }

    // some text 2
    .some_text_2 {
        h1 {
            font-size: 1.875em !important;
            transition:.3s;
        }
        p {
            font-size: .9375em !important;
            line-height: 1.5;
            transition:.3s;
        }
    }

    .img-slider {
        transition:.3s;
        .carousel {
            width: 80% !important;
            transition:.3s;
        }
        .some_text_3 {
            h1 {
                transition:.3s;
                font-size: 1.875em !important;
            }
            p {
                transition:.3s;
                font-size:.9375em !important;
                width: 100% !important;
            }
        }

        .image-slider-last-part {
            .one,.two,.three {
                p:nth-child(3) {
                    transition:.3s;
                    font-size:.75em !important;
                }
                p:nth-child(4) {
                    transition:.3s;
                    font-size:.75em !important;
                }
            }
        }
    }
    //customers
    .customer {
        .text {
            h1 {
                font-size: 1.5625em !important;
                transition: .3s;
            }
        }
        .customers {
            .customer_1,.customer_2,.customer_3 {
                p {
                    font-size: .875em !important;
                    line-height: 2;
                    transition:.3s;
                }
            }
        }
    }
    .some_text_4 {
        p {
            width: 100% !important;
            transition:width .3s;
            font-size: 90%;
        }
    }
    // destination
    .destination-star {
        .destination_1,.destination_2,.destination_3,.destination_4 {
            img {
                width: 9.375rem !important;
                transition:.3s;
            }
        }
    }

    footer {
        .main-footer {
            display: block;
            transition:.3s;

            .first_fot{
                .links {
                    h2 {
                        font-size: .9375em !important;
                        text-align: $cen;
                    }
                    ul {
                        // padding:0 3rem;
                        li {
                            font-size: .75em;
                            width: 100%;
                            text-align: $cen;
                        }
                    }

                }
            }
            .seccond_fot {
                display: block;
                transition:.3s;
                .contact {
                    margin: auto;
                    width: 80%;
                    transition:.3s;
                }
                .subscribe {
                    width: 80%;
                    margin:3rem  auto;
                    transition:.3s;
                }
            }
        }
    }

}
