* {
    font-family: 'Varela', sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
a {
    text-decoration: none;
    color:#000;
}
/* adding new calsses */
.show-menu{visibility:visible!important;width:20%!important;transition:width .3s!important;position:fixed !important;}
.bar p:first-child{transform:rotate(45deg);position:relative;top:9px;transition:.3s}
.bar p:nth-child(2){transform:rotate(-45deg);transition:.3s;}
.bar p:last-child{visibility: hidden;}
/* ============================================ */
.menu{background-color:#000;color:#fff;height:100vh;width:0;position:absolute;visibility:hidden;transition:30ms}
.menu .test{margin-top:20px}
.menu .test h3{font-weight:100;cursor:pointer;width:150px}
.menu .test h3:hover{color:#adff2f}
.menu h3:not(:last-child){margin-bottom:40px}
.header{background-image:url("images/218587.jpg");background-size:cover;color:#fff;}
nav{display:grid;grid-template-columns: auto auto;justify-content:space-between;padding:30px}
nav .l h1{font-weight:300}
nav .r{cursor:pointer}
nav .r p{width:40px;height:4px;margin:5px 0;background-color:#fff;border-radius:50px}

.header-middle {
    display:grid;
    justify-content: center;;
    margin-top: 50px;;
    text-align:center;
}
.header-middle .txt h1 {
    font-size: 40px;;
    font-weight:300;
    letter-spacing: 10px;;
    margin-bottom: 20px;;
}
.header-middle .txt p {
    font-size: 20px;;
    font-weight: 100;;
}
.header-middle .btn button{
    width: 150px;
    height:50px;
    font-size: 20px;
    background-color:greenyellow;
    color:#000;
    font-weight: 300;
    box-shadow: 0 0 100px greenyellow;
    outline:none;
    border:none;
    border-radius:25px;
    margin: 80px 0;;
    cursor:pointer;
    position:relative;
    bottom:0;
    transition:0.5s ease;
    letter-spacing: 2px;
}
.header-middle .btn button:hover a {
    color:#fff;
}
.header-middle .btn button:hover {
    bottom:5px;
    background-color:rgb(138, 214, 23);
    box-shadow: 0 0 80px rgb(138, 214, 23);
}

.main-1 {
    margin-top: 50px;
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
    width: 100%;
}
.main-1 .img img {
    width:500px;
}
.main-1 .txt-2 {
    width:40%;
}
.main-1 .txt-2 h2 {
    font-size: 35px;;
    font-weight:300;
    line-break: 10px;
    margin-bottom: 30px;
}
.main-1 .txt-2 p {
    line-height:2;
    margin-bottom: 50px;
    color: #444444;
}
.main-1 .txt-2  .video {
    width:30%;
    margin:0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
.main-1 .txt-2  .video i:hover {
    filter: drop-shadow(-2px -2px 3px rgb(138, 214, 23));
}

.main-2 {
    text-align:center;
    margin-top: 50px;;
}
.main-2 h1 {
    margin-bottom:20px;
    font-weight: 300;
    font-size: 40px;;
}
.main-2 p {
    width:50%;
    margin:0 auto;
    line-height: 2;
    color: #444444;
}

.main-3 {
    display:grid;
    grid-template-columns: repeat(auto-fill,400px);
    grid-gap:30px;
    justify-content: center;
    align-items: center;
    text-align:center;
    margin-top: 50px;;
}
.main-3 .boxes {
    margin: 0 30px;;
}
.main-3 .boxes small {
    font-size: 16px;
    color: #444444;
    line-height: 3;
}
.main-3 .boxes p {
    margin-bottom: 30px;
}
.main-4 {
    text-align: center;
    margin-top: 50px;;
}
.main-4 h1 {
    margin-bottom: 20px;;
    font-size: 40px;
    font-weight: 800;
}
.main-4 p {
    width:50%;
    margin:0 auto;
    color:#444444;
}

.main-5 {
    margin: 100px 0;
    margin-bottom: 50px !important;
    padding-top: 15px;;
}
.main-5 .TheBox {
    max-width:600px;
    height: 300px;
    background-image: url("images/swim.jpg");
    background-size: cover;   
    margin:0 auto;
    margin-bottom: 100px;
}
.main-5 {
    background-image: linear-gradient(-30deg,#69a80a, 80%,white , 20%,white );
}
.main-5 .txt-3 {
    text-align:center;
    margin-bottom: 100px !important;;
}
.main-5 .txt-3 h1 {
    font-size: 40px;
    margin-bottom: 20px;;
    color:#fff;
}
.main-5 .txt-3 p {
    width:50%;
    margin: 0 auto;
    color:#fff;
    line-height: 2;
}
.PostBlog {
    width:100%;
    display:flex;
    justify-content: space-around;
}
.PostBlog .box {
    width:20rem;
    background-color: #fff;
    border-radius:25px;
    padding:20px 10px;
    margin-bottom: 30px;;
    line-height: 2;
}
.PostBlog .box img {
    width: 90%;
    display: block;
    margin:0 auto
}
.PostBlog .box p:nth-child(2) {
    font-size: 13px;  
}
.PostBlog .box p {
    margin: 20px;
}

.main-6 {
    display: flex;
    justify-content: space-around;
}
.main-6 .customer {
    width:18.75rem;
}
.main-6 .customer img {
    width: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.main-6 .customer p{
    width: 95%;
    line-height: 2;
    font-weight: bold;
}
.main-6 .customer p:last-child {
    color:grey;
}
footer {
    margin-top: 100px;
    text-align: center;
    background-color: #69a80a;
    padding:30px 0;
    color:#fff;
    letter-spacing: 2px;
    font-weight: 100 !important;
}
footer h3 i:hover {
    color:red;
    transition:.3s ease;
}

/* ================================ */
/* media queries */
@media screen and (min-width:320px){
    p{
        font-weight: bold !important;
    }
    .header-middle .txt p {
        font-weight: 100 !important;
        transition:weight 1s;
    }
    .show-menu {
        width: 50% !important;
        z-index: 100;
    }
    .main-1 {
        flex-direction: row !important;
        transition:row 1s !important;
    }
    .main-1 .img img {
        width: 400px !important;
        margin-bottom: 30px !important;
    }
    .main-1 .txt-2 {
        width:90% !important;
        text-align: center;
    }
    .main-1 .txt-2 h2 {
        font-size: 25px;
    }
    .main-1 .txt-2  .video {
        width:50% !important;
    }
    .main-1 .txt-2 .video {
        display:flex;
        justify-content: center;
    }
    .main-1 .txt-2 .video i {
        margin-right: 20px;
    }
    .main-2 {
        margin-top: 70px;
    }
    .main-2 h1 {
        font-size: 30px;
    }
    .main-2 p {
        transition: weight .3s;
        width: 90%;
    }
    .main-3 {
        grid-template-columns: auto;
    }
    .main-4 h1 {
        font-size: 30px;
    }
    .main-4 p {
        width: 90%;
    }
    .main-5 {
        background-image: linear-gradient(-40deg,#69a80a, 85%,white , 15%,white ) !important;
    }
    .main-5 .TheBox{
        width: 95%;
    }
    .main-5 .txt-3 p {
        width:90%;
        font-weight: 100 !important;
    }
    .main-5 .PostBlog {
        flex-direction: column;
        align-items: center;
    }
    .main-5 .PostBlog .box {
        width: 80%;
    }
    .main-6 {
        flex-direction: column;
        align-items: center;
    }
    .main-6 .customer {
        width:60%;
    }
    .main-6 .customer:not(:last-child) {
        margin-bottom: 50px;
    }
    .main-6 .customer p {
        width:100% !important;
    }
}
@media screen and (min-width:768px){
    .main-3 {
        grid-template-columns: auto auto;
        margin-bottom: 100px;
    }
    .main-3 .boxes p {
        width:100%;
        margin:0 auto;
    }
    .main-5 .PostBlog {
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: flex-start;
    }
    .PostBlog .box {
        width: 25rem !important;
        margin: 20px auto;
    }
    .main-6 .customer {
        width:80%;
    }
}
@media screen and (min-width:1024px){
    .main-1 {
        flex-direction: row !important;
        flex-wrap:nowrap;
    }
    .main-1 .txt-2 {
        width:50% !important;
        text-align: left;
    }
    .main-1 .txt-2  .video {
        width:50% !important;
    }
}
@media screen and (min-width:1200px){
    .show-menu {
        width:35% !important;
    }
    .main-1 .img img {
        width: 450px !important;
    }
    .main-3 {
        grid-template-columns: auto auto auto;
        grid-gap: 60px !important;
    }
    .main-6 .customer {
        width: 60%;
    }
}